* {
	color: rgb(36, 56, 60);
	font-family: 'Fira Sans', sans-serif;
}

body, html {
	background: #f5f5f5;
	font-size: 62.5%;
}

button {
	background: rgb(73,106,111);
	border: none;
	border-radius: 0.3rem;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
    padding: 0.8rem 1.4rem 0.7rem 1.4rem;
	text-transform: uppercase;
	transition: all 0.15s ease;
}

button:hover {
	background: rgb(53,76,81);
}

div.container {
	margin: 0 auto;
	width: 70%;
}

div.debug {
  border: 0.1rem dashed #c5c5c5;
  color: #797B74;
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: center;
}

div.content {
	height: 100%;
	width: 100%;
}

footer {
	margin-top: 10rem;
}

h1 {
	font-size: 5.6rem;
	font-weight: 700;
}

h1 strong {
	color: rgb(63,91,96);
}

h1 span {
	color: rgb(63,91,96);
	font-weight: 300;
}

h3 {
	font-weight: 400;
	font-size: 4.6rem;
	font-style: italic;
}

h3 {
	font-weight: 300;
	font-size: 3.2rem;
	font-style: italic;
}

input[type="text"], input[type="password"] {
	box-sizing: border-box;
	font-size: 1.8rem;
	margin-right: 1rem;
	adding: 0.8rem;
	width: 10em;
}

input.description {
	width: 40rem;
}

section.highlight {
	background: rgb(255, 255, 255);
	border-top: 0.1rem solid rgba(144, 144, 144, 0.25);
	padding: 2rem 0;
	margin-top: 2rem;
}

table {
	border-collapse: collapse;
	font-size: 1.6rem;
	margin: 1rem 0 5rem 0;
	width: 100%;
}

table thead {
	border-bottom: 0.2rem solid #eaeaea;
}

table thead tr th {
	font-weight: 300;
	text-align: left;
	text-transform: capitalize;
}

table thead tr th.status {
	width: 8rem;
}

table tbody {
	font-size: 2rem;
}

table tbody tr {
	border-bottom: 0.1rem solid #efefef;
}

table tbody tr td {
	padding: 1rem 0 0.8rem 0;
}

table tbody tr td.status {
	display: block;
}

table tbody tr td.status div {
	display: block;
	margin: 0 auto;
}
